@page "/"

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Need to invalidate access token upon SignOut</h4>
                <p class="card-description">
                    Use this repo to duplicate the issue seen in the <a href="https://github.com/AzureAD/microsoft-identity-web/issues/1403" target="_blank">"Invalidate access token upon SignOut" issue</a>.
                </p>
                <p>
                    You can use the menu in the upper right to test the sign out.
                </p>
                <p>
                    See "Components\General\SignOut\SignOutOfAccountComponent.razor" for where "MicrosoftIdentity/Account/SignOut" is called.
                </p>
            </div>
        </div>
    </div>
</div>